.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100%;

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 2.5rem;
  }

  button {
    height: 4rem;
    width: 100%;
    color: var(--gray-50);

    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: .5rem;

    border: 0;
    border-radius: 8px;

    transition: .2s;

    &:disabled {
      cursor: not-allowed;
      filter: brightness(.7);
    }

    
  }

  &__btn_start {
    background-color: var(--primary-500);

    &:not(:disabled):hover {
      background-color: var(--primary-700);
    }
  }

  &__btn_stop  {
    background-color: var(--red-500);

    &:not(:disabled):hover {
      filter: brightness(.8);
    }
  }
}